/* 
    reset 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    general 
*/
.container{
    margin: 0 auto;
    max-width: 1200px;
}

.small-container{
    margin: 0 auto;
    width: 85%;
    /* max-width: 900px; */
}

.border{
    border: 2px dashed black;
}

/* 
    header 
*/

.navbar{
    background-color: white;
 
    min-height: 50px;
}

.header-box{
    background-color: rgb(162, 203, 232);
    width: 100%;
    min-height:400px;
}

.header-elements{
    background-color: rgb(50, 204, 65);
    display: flex;
    flex-wrap: wrap;
}

.header-title{
    width: 100%;
    background-color: lightcoral;
    min-height: 100px;
    margin-top: 50px;
}

.header-text{
    background-color: lightcoral;
    width: 40%;
    min-height: 200px;
    margin-top: 50px;
}

.header-img{
    background-color: lightcoral;
    width: 60%;
    min-height: 200px;
    margin-top: 50px;
    margin-bottom: -50px;
}

/* 
    main 
*/

/* section 1 */

.business-title{
    background-color: rgb(50, 204, 65);
    width: 100%;
    min-height: 200px;
    margin-top: 100px;
}

.card-container{
    background-color: rgb(50, 204, 65);
    width: 100%;
    min-height: 800px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.card{
    background-color: lightcoral;
    width: 30%;
    min-height: 500px;
}

.enterprise-container{
    background-color: rgb(50, 204, 65);
    width: 100%;
    min-height: 200px;
    margin-top: 50px;
}

/* fine section 1 */

/* section 2 */

.contact-box{
    background-color:  rgb(50, 204, 65);
    width: 100%;
    min-height: 400px;
    margin-top: 100px;
    display: flex;
}

.contact-img{
    background-color: lightcoral;
    width: 60%;
    min-height: 400px;
}

.contact-text{
    background-color: lightcoral;
    width: 40%;
    min-height: 400px;
}

/* fine section 2 */

/* section 3 */

.operation-box{
    background-color: rgb(50, 204, 65);
    width: 100%;
    min-height: 900px;
    margin-top: 100px;
}

.operation-title{
    background-color: lightcoral;
    width: 100%;
    min-height: 50px;
    margin-bottom: 50px;
}

.operation-card-box{
    background-color: rgb(162, 203, 232);
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operation-card{
    background-color: lightcoral;
    width: 30%;
    min-height: 300px;
    margin-top: 30px;
}

.operation-bottom{
    background-color: lightcoral;
    width: 100%;
    min-height: 100px;
    margin-top: 100px;
}

/* fine secion 3 */

/* section 4 */

.bottom-main-flex{
    display: flex;
}

.big-img-box{
    background-color: rgb(50, 204, 65);
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.big-img-box > *{
    width: 50%;
    height: 50%;
    background-color: lightcoral;
}

.cta-box{
    background-color:  rgb(50, 204, 65);
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
}

.cta-text{
    background-color: lightcoral;
    width: 100%;
    min-height: 100px;
}

/* fine secion 4 */

/* 
    footer 
*/