/* 
    reset 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    general 
*/

html{
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.small-container{
    margin: 0 auto;
    width: 85%;
    /* max-width: 900px; */
}

.mini-container{
    margin: 0 auto;
    width: 80%;
}

.border{
    border: 2px dashed rgb(246, 205, 0);
}

ul li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
}

.white{
    color: white;
}

.gray{
    color: #767676;
}

.blue{
    background-color: #0061FF;
    border: 1px solid #0061FF;
}

.button-small{
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.button{
    padding: 10px;
    font-size: 1.1em;
}

/* 
    header 
*/

.navbar{
    background-color: white;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 80%;
    vertical-align: middle;
}

.right-nav > ul li{
    padding-right: 20px;
}

.left-nav > ul li{
    margin-left: 20px;
}

.header-box{
    background-color: #B4D0E7;
    width: 100%;
    min-height:400px;
}

.header-elements{
    /* background-color: rgb(50, 204, 65); */
    display: flex;
    flex-wrap: wrap;
}

.header-title{
    width: 100%;
    /* background-color: lightcoral; */
    min-height: 100px;
    margin-top: 50px;
}

.title{
    font-size: 3em;
    font-weight: bold;
}

.header-text{
    /* background-color: lightcoral; */
    width: 40%;
    min-height: 200px;
    margin-top: 50px;
}

.header-item-margin{
    margin-top: 30px;
}

.header-icon-margin{
    margin-top: 80px;
    font-size: 3em;
}

.header-img{
    /* background-color: lightcoral; */
    width: 60%;
    min-height: 200px;
    margin-top: 50px;
    margin-bottom: -50px;
}

.jumbo{
    width: 100%;
}

/* 
    main 
*/

/* section 1 */

.business-title{
    /* background-color: rgb(50, 204, 65); */
    width: 100%;
    min-height: 200px;
    margin-top: 100px;
}

.titles{
    font-size: 3em;
}

.radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.check{
    background-color: white;
    border:5px solid #0061FF;
}

.uncheck{
    background-color: white;
    border: 1px solid gray;
}

.li-text{
    vertical-align: middle;
    margin-right: 50px;
}

.radio-box > ul li {
    margin-top: 50px;
}

.card-container{
    background-color: rgb(50, 204, 65);
    width: 100%;
    min-height: 800px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.card{
    background-color: lightcoral;
    width: 30%;
    min-height: 500px;
}

.card-top{
    text-align: center;
    border: 1px solid gray;
    padding: 10px 0;
}

.card-title{
    font-size: 2em;
    padding: 20px 0;
}

.price{
    padding-bottom: 20px;
}

.enterprise-container{
    background-color: rgb(50, 204, 65);
    width: 100%;
    min-height: 200px;
    margin-top: 50px;
}

/* fine section 1 */

/* section 2 */

.contact-box{
    background-color:  rgb(50, 204, 65);
    width: 100%;
    min-height: 400px;
    margin-top: 100px;
    display: flex;
}

.contact-img{
    background-color: lightcoral;
    width: 60%;
    min-height: 400px;
}

.contact-text{
    background-color: lightcoral;
    width: 40%;
    min-height: 400px;
}

/* fine section 2 */

/* section 3 */

.operation-box{
    background-color: rgb(50, 204, 65);
    width: 100%;
    min-height: 900px;
    margin-top: 100px;
}

.operation-title{
    background-color: lightcoral;
    width: 100%;
    min-height: 50px;
    margin-bottom: 50px;
}

.operation-card-box{
    background-color: rgb(162, 203, 232);
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operation-card{
    background-color: lightcoral;
    width: 30%;
    min-height: 300px;
    margin-top: 30px;
}

.operation-bottom{
    background-color: lightcoral;
    width: 100%;
    min-height: 100px;
    margin-top: 100px;
}

/* fine secion 3 */

/* section 4 */

.bottom-main-flex{
    display: flex;
}

.big-img-box{
    background-color: rgb(50, 204, 65);
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.big-img-box > *{
    width: 50%;
    height: 50%;
    background-color: lightcoral;
}

.cta-box{
    background-color:  rgb(50, 204, 65);
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
}

.cta-text{
    background-color: lightcoral;
    width: 100%;
    min-height: 100px;
}

/* fine section 4 */

/* section 5  */

.faq{
    background-color: rgb(50, 204, 65);
    margin-top: 100px;
    width: 100%;
    min-height: 500px;
}

/* fine section 5 */

/* 
    footer 
*/

.footer-box{
    background-color: black;
    width: 100%;
    min-height: 500px;
    margin-top: 100px;
}

.foot-elements{
    background-color: rgb(50, 204, 65);
    width: 100%;
    min-height: 300px;
    margin-top: 50px;
}